In [1]:
import pandas as pd

filename = 'sales_data_simplified.csv'
df = pd.read_csv(filename, index_col = 0)

In [2]:
df.head()

,product,quantity,price,address,month,city
id,,,,,,
176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",4,Dallas (TX)
176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",4,Boston (MA)
176560,Google Phone,1,600.00,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",4,Los Angeles (CA)

In [5]:
import sqlite3

In [4]:
conn = sqlite3.connect('enterprise.db')

In [6]:
df.to_sql(name='sales', con=conn)

185950

In [15]:
df_read = pd.read_sql('select * from sales', con=conn)

In [16]:
df_read

,id,product,quantity,price,address,month,city
0,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",4,Dallas (TX)
1,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",4,Boston (MA)
2,176560,Google Phone,1,600.00,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
3,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
4,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",4,Los Angeles (CA)
...,...,...,...,...,...,...,...
185945,259353,AAA Batteries (4-pack),3,2.99,"840 Highland St, Los Angeles, CA 90001",9,Los Angeles (CA)
185946,259354,iPhone,1,700.00,"216 Dogwood St, San Francisco, CA 94016",9,San Francisco (CA)
185947,259355,iPhone,1,700.00,"220 12th St, San Francisco, CA 94016",9,San Francisco (CA)
185948,259356,34in Ultrawide Monitor,1,379.99,"511 Forest St, San Francisco, CA 94016",9,San Francisco (CA)
185949,259357,USB-C Charging Cable,1,11.95,"250 Meadow St, San Francisco, CA 94016",9,San Francisco (CA)

In [23]:
query =  "SELECT id, product, quantity, price FROM sales;"

In [24]:
query

'SELECT id, product, quantity, price FROM sales;'

In [25]:
df_read = pd.read_sql(query, con=conn)

In [26]:
df_read

            id                     product  quantity   price
0       176558        USB-C Charging Cable         2   11.95
1       176559  Bose SoundSport Headphones         1   99.99
2       176560                Google Phone         1  600.00
3       176560            Wired Headphones         1   11.99
4       176561            Wired Headphones         1   11.99
...        ...                         ...       ...     ...
185945  259353      AAA Batteries (4-pack)         3    2.99
185946  259354                      iPhone         1  700.00
185947  259355                      iPhone         1  700.00
185948  259356      34in Ultrawide Monitor         1  379.99
185949  259357        USB-C Charging Cable         1   11.95

[185950 rows x 4 columns]